*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

.game-board {
  width: 80%;
  height: 50rem;
  border: .1rem solid #333;
  margin: 0 auto;
  position: relative;
}

.pipe{
  position: absolute;
  bottom: 0;
  width: 8rem;
  margin: -15px;
  /* animation: pipe-animation 2s infinite linear; */
}

@keyframes pipe-animation{
  from{
    right: 0;
  }
  to{
    right: 100%;
  }
}