*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

.game-board {
  width: 100vw;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background: url(../assets/images/background-mario.png);
}

.pipe{
  position: absolute;
  bottom: 5rem;
  width: 8rem;
  margin: -15px;
  animation: pipe-animation 2s infinite linear;
}

.mario{
  width: 10rem;
  position: absolute;
  bottom: 5rem;
}

.jump{
  animation: jump 500ms ease-out; 
}

@keyframes jump{
  0%{
    bottom: 5rem;  
  }
  40%{
    bottom: 20rem;
  }
  50%{
    bottom: 20rem;
  }
  60%{
    bottom: 20rem;
  }
  100%{
    bottom: 12.2rem;
  }
}

@keyframes pipe-animation{
  from{
    right: 0;
  }
  to{
    right: 92%;
  }
}